.profilePage {
    width: 100%;
    margin: 35px auto;
    border: 1px solid #000000;
    overflow: hidden;
}

.profilePage__posts {
    width: 100%;
    margin: 25px auto 0;
    border: 1px solid #000000;
    border-left: none;
    border-right: none;
}

.profilePage__postsContent {
    width: 90%;
    margin: 0 auto;
}

.profilePage__postsHeading {
    font-weight: 500;
    font-size: 38px;
    line-height: 114%;
    color: #000000;
    margin: 15px 0 25px;
}

.profilePage__postsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 35px;
    grid-template-rows: auto;
    column-gap: 20px;
}

.profilePage__postsItem {
    border: 1px solid #000000;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profilePage__headContent {
    display: flex;
    justify-content: space-between;
}

.profilePage__button {
    border: 1px solid #0D1E4B;
    background: #101010;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 15px 0 25px;
}
